.background {
    background-image: url("../../public/images/taj-mahal.jpg");
    background-size: cover;
    background-position: center;
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__elements {
        padding: 3rem;
        min-width: 100rem;
    }

    &__desc {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 1.6rem;
        font-weight: 600;
    }

    &__search {
        position: relative;
    }

    &__recommendations {
        background-color: var(--color-black-1);
        width: 90%;
        position: absolute;
        top: 6rem;
        padding: 2rem;
        border-radius: 5px;
        border: 1px solid var(--color-grey-1);
        z-index: 3;

        &Heading {
            font-weight: 500;
        }

        &List {
            list-style: none;
            display: flex;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        &Item {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &Links {

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-grey);
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                border: 1px solid var(--color-grey);
                padding: 0.5rem 1.6rem;
                font-size: 1.4rem;
                margin-right: 1rem;
                border-radius: 5px;
            }
        }

        &Links1 {

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-grey);
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                border: 1px solid var(--color-grey);
                font-size: 1.4rem;
                margin-right: 1rem;
                border-radius: 5px;
            }
        }

        &Image {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
        }

        &Texts1 {
            padding: 0.5rem 1.6rem;
        }

        &Icon {
            width: 2rem;
            height: 2rem;
            fill: var(--color-grey);
            margin-right: 01rem;
        }
    }

    &__input {
        padding: 1.5rem 2rem;
        font-family: inherit;
        color: var(--color-black);
        font-size: 1.6rem;
        border-radius: 2px;
        background-color: var(--color-grey);
        border: none;
        width: 90%;
        display: block;
        font-weight: 500;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;
        margin-bottom: 1.6rem;

        &:focus {
            outline: none;
            background-color: var(--color-white);
        }

        &::-webkit-input-placeholder {
            color: var(--color-black);
            font-weight: 500;
        }
    }

    &__trending {
        &Topics {

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-grey-1);
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: var(--color-white);
            }

        }
    }

    &__form {
        display: flex;
        padding: 0rem;
        margin: 0rem;
        position: relative;
    }

    &__button {
        background-color: initial;
        position: absolute;
        right: 9.5rem;
        border: none;
        padding: 0.9rem;
        cursor: pointer;
    }

    &__input:focus~&__button:hover {
        background-color: var(--color-white);
    }


    &__searchIcon {
        width: 3rem;
        height: 3rem;
        fill: var(--color-black);
    }
}

.gallery {
    // masonry layout gallery
    padding: 4.8rem;
    column-count: 3;
    column-gap: 2.4rem;

    &__container {
        display: inline-block;
        margin: 0 0 2.4rem;
        width: 100%;
        position: relative;
        transition: all 0.3s ease-in-out;
        cursor: zoom-in;

    }

    &__image {
        width: 100%;
        height: 100%;
        transition: all 0.1s ease-in-out;

    }

    &__imageHover {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }

    &__imageTop {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.6rem;
    }

    &__imageBottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.8rem;
    }

    &__profile {
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
    }

    &__profileImage {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    &__profileInfo {
        font-weight: 600;
        color: var(--color-white);
    }

    &__button {
        background-color: var(--color-black);
        border: none;
        padding: 0.8rem 1rem;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 1.6rem;
        transition: all 0.3s ease-in-out;


        &:hover {
            background-color: var(--color-black-1);
        }
    }

    &__iconHeart {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-white);
    }

    &__iconDownload {
        width: 2rem;
        height: 2rem;
        fill: var(--color-white);
    }

    // logic for hover
    &__container:hover &__image {
        opacity: 0.7;
    }

    &__container:hover &__imageHover {
        opacity: 1;
        visibility: visible;
    }
}