.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.6rem;
    height: 6.2rem;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: var(--color-black);


    &__left {
        flex: 0 0 40%;
    }

    &__right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .navbar__text:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__logoContainer {
        position: relative;
        height: 4.5rem;
        width: 7.7rem;
    }

    &__text {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            color: var(--color-white);
            font-size: 1.5rem;
            font-weight: 600;
        }

        &:first-child {
            display: flex;
            align-items: center;
        }
    }

    &__btnPrimary {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            color: var(--color-black);
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.5rem 1.8rem;
            border-radius: 4px;
            background-color: var(--color-primary);
            display: flex;
            align-items: center;
        }
    }
}

.explore {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2rem;
    cursor: pointer;

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-white);
    }
}

.upload {
    &__text {
        margin-left: 0.4rem;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-black);
    }
}