@keyframes explore {
    0% {
        opacity: 0;
        transform-origin: top right;
        transform: scale(0);
    }

    80% {
        transform-origin: top right;
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        transform-origin: top right;
        scale: (1);
    }

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.6rem;
    height: 6.2rem;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--color-black);


    &__left {
        flex: 0 0 7%;
    }

    &__middle {
        flex: 0 0 50%;
        position: relative;
    }

    &__right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .navbar__text:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__logoContainer {
        position: relative;
        height: 4.5rem;
        width: 7.7rem;
    }

    &__recommendations {
        background-color: var(--color-black-1);
        width: 100%;
        position: absolute;
        top: 4.5rem;
        padding: 2rem;
        border-radius: 5px;
        border: 1px solid var(--color-grey-1);
        z-index: 3;

        &Heading {
            font-weight: 500;
        }

        &List {
            list-style: none;
            display: flex;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        &Item {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &Links {

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-grey);
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                border: 1px solid var(--color-grey);
                padding: 0.5rem 1.6rem;
                font-size: 1.4rem;
                margin-right: 1rem;
                border-radius: 5px;
            }
        }

        &Links1 {

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-grey);
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                border: 1px solid var(--color-grey);
                font-size: 1.4rem;
                margin-right: 1rem;
                border-radius: 5px;
            }
        }

        &Image {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
        }

        &Texts1 {
            padding: 0.5rem 1.6rem;
        }

        &Icon {
            width: 2rem;
            height: 2rem;
            fill: var(--color-grey);
            margin-right: 01rem;
        }
    }

    &__input {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        font-family: inherit;
        color: var(--color-black);
        font-size: 1.4rem;
        border-radius: 30px;
        background-color: var(--color-grey);
        border: none;
        width: 100%;
        font-weight: 500;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;
        // @include respond(tab-land) {
        //     width: 100%;
        // }

        &:focus {
            outline: none;
            background-color: var(--color-white);

        }

        &::-webkit-input-placeholder {
            color: var(--color-black);
            font-weight: 500;
        }
    }

    &__form {
        display: flex;
        padding: 0rem;
        margin: 0rem;
        position: relative;
    }

    &__button {
        background-color: initial;
        position: absolute;
        right: 0rem;
        border: none;
        padding: 0.6rem 0rem;
        padding-right: 1rem;
        cursor: pointer;
        border-radius: 0rem 30px 30px 0rem;
    }

    &__input:focus~&__button:hover {
        background-color: var(--color-white);
    }


    &__searchIcon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-black);
    }

    &__text {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            color: var(--color-white);
            font-size: 1.5rem;
            font-weight: 600;
        }

        &:first-child {
            display: flex;
            align-items: center;
        }
    }

    &__btnPrimary {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            color: var(--color-black);
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.5rem 1.8rem;
            border-radius: 4px;
            background-color: var(--color-primary);
            display: flex;
            align-items: center;
        }
    }

    &__user {
        margin-right: 2rem;
        position: relative;

        &Button {
            padding: 0rem;
            background-color: var(--color-black);
            border: none;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        &Icon {
            width: 2.3rem;
            height: 2.3rem;
            fill: var(--color-white);
        }

        &Options {
            position: absolute;
            width: 18rem;
            background-color: var(--color-black);
            top: 4.2rem;
            border: 1px solid var(--color-grey);
            right: -2rem;
            border-radius: 5px;
            animation: explore 0.5s cubic-bezier(0.86, 0, 0.07, 1);
            padding: 1rem 0rem;
            display: flex;
            justify-content: center;

            &::after {
                top: -6px;
                background: var(--color-black)
            }

            &::after {
                border-bottom: 1px solid var(--color-white);
                border-right: 1px solid var(--color-white);
                border-radius: 0 0 4px 0;
                margin-left: -5px;
                right: 2rem;
                transform: rotate(-135deg);
                content: '';
                height: 12px;
                width: 12px;
                position: absolute;
            }
        }

        &List {
            list-style: none;
        }

        &Items {
            padding: 0.6rem 1.6rem;
            cursor: pointer;

            &:hover {
                background-color: var(--color-black-1);
                transition: all 0.3s ease-in-out;
            }
        }

        &Links {

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-grey);
                font-size: 1.4rem;
                font-weight: 500;
            }
        }


    }
}

.explore {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2rem;
    cursor: pointer;


    &__text {
        background-color: var(--color-black);
        border: none;
        outline: none;
        color: var(--color-white);
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;


    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-white);
    }

    &__options {
        position: absolute;
        background-color: var(--color-black);
        top: 4.2rem;
        border: 1px solid var(--color-grey);
        right: -2rem;
        padding: 2rem 3rem;
        border-radius: 5px;
        animation: explore 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        width: 45rem;


        &Top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 2.6rem;
        }

        &Bottom {
            display: grid;
            grid-template-columns: 2.3fr 1fr;
            grid-gap: 4rem;
        }

        &::after {
            top: -6px;
            background: var(--color-black)
        }

        &::after {
            border-bottom: 1px solid var(--color-white);
            border-right: 1px solid var(--color-white);
            border-radius: 0 0 4px 0;
            margin-left: -5px;
            right: 2rem;
            transform: rotate(-135deg);
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
        }

        // &::before,
        // &::after {
        //     z-index: 20;
        //     content: "";
        //     position: absolute;
        //     bottom: 100%;
        //     right: 19px;
        //     border: 11px solid transparent;
        //     border-bottom-color: var(--color-grey);
        // }
    }

    &__headingQuarterly {
        font-size: 1.8rem;
        margin-bottom: 0.6rem;
    }

    &__list {
        list-style: none;
    }

    &__items {
        &:not(:last-child) {
            margin-bottom: 0.4rem;
        }
    }

    &__links {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-grey);
            font-weight: 500;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            color: var(--color-white);
        }
    }

    &__policies {
        display: flex;
        justify-content: space-between;
    }


}

.profile {
    &__iconFacebook {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-white);
    }

    &__iconInstagram {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-white);
    }

    &__iconEmail {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-white);
    }

    &__iconFacebook,
    &__iconInstagram {
        margin-right: 1rem;
    }
}

.upload {
    &__text {
        margin-left: 0.4rem;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-black);
    }
}